{
  "defaultConnection": "default",
  "connections": {
    "default": {
      "connector": "strapi-mongoose",
      "settings": {
        "client": "mongo",
        "host": "*****",
        "port": "*****",
        "database": "*****",
        "username": "*****",
        "password": "*****",
        "authenticationDatabase": "",
        "ssl": false
      },
      "options": {}
    }
  }
}
